In [22]:
import pandas as pd
import wallstreet as w

path = "C:/Users/racon/OneDrive/Desktop/FinTech_Group6/SPY20050107to20050131.csv"
spy_close_prices=pd.read_csv(path, usecols =["underlying" , "underlying_last" , "quotedate"])

spy_close_prices.rename(columns = {'quotedate':'Date'}, inplace = True)



spy_close_prices['Date'] = pd.to_datetime(spy_close_prices['Date'])
# spy_close_prices.rename(columns = {'quotedate':'Date'}, inplace = True) 

spy_close_prices.set_index(keys = "Date" , inplace = True)

spy_close_prices = spy_close_prices.drop_duplicates()

# spy_close_prices.head()


# optns=pd.read_csv(path, usecols =["expiration" , "last" ])

optns=pd.read_csv(path)

optns.rename(columns = {'expiration':'Date'}, inplace = True) 

optns['Date'] = pd.to_datetime(optns['Date'])

optns['Date'] = optns['Date'] - pd.Timedelta(1, unit='D')  ### This one works


indexNames = optns[ optns['last'] == 0 ].index
# Delete these row indexes from dataFrame
optns.drop(indexNames , inplace=True)

optns = optns.set_index('Date')

# optns



stocks_and_options = pd.merge(
    spy_close_prices,
    optns,
    how="inner",
    on="Date",
    left_on=None,
    sort=True
)


stocks_and_options

# s = w.Stock('SPY')
# stock = s.historical(days_back=999,  frequency='d').sort_values(by = "Date",ascending = True).set_index(keys="Date")
# stock


# combined_df = pd.merge(optns, spy_close_prices, on ="Date",how='inner')

# combined_df

,underlying_x,underlying_last_x,underlying_y,underlying_last_y,exchange,optionroot,optionext,type,quotedate,strike,...,volume,openinterest,impliedvol,delta,gamma,theta,vega,optionalias,IVBid,IVAsk
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-21,SPY,116.78,SPY,119.00,*,SPY050122C00110000,NaN,call,01/10/2005,110,...,102,0,0.3708,0.8942,0.0235,-25.5472,3.8332,SPYAF,0.0,0.1780
2005-01-21,SPY,116.78,SPY,119.00,*,SPY050122C00111000,NaN,call,01/10/2005,111,...,36,0,0.3708,0.8667,0.0277,-29.5451,4.5138,SPYAG,0.0,0.1573
2005-01-21,SPY,116.78,SPY,119.00,*,SPY050122C00112000,NaN,call,01/10/2005,112,...,139,0,0.3708,0.8349,0.0319,-33.6091,5.2080,SPYAH,0.0,0.2189
2005-01-21,SPY,116.78,SPY,119.00,*,SPY050122C00113000,NaN,call,01/10/2005,113,...,12,0,0.3708,0.7988,0.0361,-37.5903,5.8908,SPYAI,0.0,0.1930
2005-01-21,SPY,116.78,SPY,119.00,*,SPY050122C00114000,NaN,call,01/10/2005,114,...,125,0,0.3708,0.7589,0.0401,-41.3296,6.5354,SPYAJ,0.0,0.1669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-01-21,SPY,116.78,SPY,116.78,*,SPY050122P00128000,NaN,put,01/21/2005,128,...,0,17,0.4228,-1.0000,0.0000,3.5121,0.0000,SPYMX,0.0,1.6661
2005-01-21,SPY,116.78,SPY,116.78,*,SPY050122P00129000,NaN,put,01/21/2005,129,...,0,0,0.4228,-1.0000,0.0000,3.5395,0.0000,SPYMY,0.0,1.7806
2005-01-21,SPY,116.78,SPY,116.78,*,SFB050122P00130000,NaN,put,01/21/2005,130,...,0,0,0.4228,-1.0000,0.0000,3.5670,0.0000,SFBMZ,0.0,1.8930
2005-01-21,SPY,116.78,SPY,116.78,*,SFB050122P00147000,NaN,put,01/21/2005,147,...,1000,0,0.4228,-1.0000,0.0000,4.0334,0.0000,SFBMQ,0.0,3.5721
2005-01-21,SPY,116.78,SPY,116.78,*,SFB050122P00148000,NaN,put,01/21/2005,148,...,1000,0,0.4228,-1.0000,0.0000,4.0609,0.0000,SFBMR,0.0,3.6605